body {
	height: 100vh;
}

span {
	color: red;
}

.findpassword_container {
	width: 580px;
	border-radius: 20px;
	box-shadow: 3px 5px 10px rgb(0, 0, 0, 0.25);
	padding: 66px;
}

.title_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.findpassword_form {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.findpassword_form input {
	margin-bottom: 8px;
}

.input_label {
	font-weight: bold;
	font-size: 14px;
}

.input_label .br_style {
	line-height: 200%;
}

.input_style {
	border-radius: 8px;
	background-color: #f6f7f8;
	outline: none;
	border: 1px solid #e5e5e5;
	padding: 22px 16px;
	width: 100%;
}

.findpassword_btn {
	padding: 16px 0;
	text-align: center;
	color: white;
	background-color: #4849e8;
	font-weight: bold;
	border-radius: 8px;
	border: none;
	margin: 20px 0;
	font-size: 16px;
	cursor: pointer;
}