#categoryBar {
	display: flex;
    align-items: center;
    margin-left: 280px;
    margin-top: 70px;
    white-space: nowrap;
}
.categoryWrap {
	display: flex;
	justify-content: center;
	align-items: center; 
	color: #a3a3a3;
	font-weight: bold;
	margin-left: 50px;
}

.categoryWrap label {
	margin-right: 30px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.categoryWrap input[type="radio"] {
	display: none;
}
.categoryWrap input[type="radio"]:checked + label {
	background-color: white;
	color: #4849e8;
}
.channelButton {
	gap: 20px;
	color: #a3a3a3;
	font-weight: bold;
	align-items: center;
}
.channelButton label {
	cursor: pointer;
	padding: 6px;
	border: 2px solid #a3a3a3;
	border-radius: 10px;
	transition: background-color 0.3s;
}
.channelButton input[type="checkbox"] {
    display: none; /* 기본 체크박스 숨기기 */
}
.channelButton input[type="checkbox"]:checked + span {
    background-color: white; /* 체크된 상태의 배경색 */
    color: #4849e8; /* 체크된 상태의 글자색 */
}
.channelBar {
	display: flex;
    align-items: center;
    margin-left: 280px;
    white-space: nowrap;
}
.search {
	display: flex;
	align-items: center;
	margin-left: 410px;
}
.search input {
	background-color: #EEEEEE;
	border: none;
	height: 32px;
	width: 280px;
}
#searchButton {
	border: none;
	background-image: url("../image/search1.png");
	background-size: cover;
	cursor: pointer;
	width: 32px;
	height: 32px;

}
#registerButton {
	width: 150px;
	height: 40px;
	border-radius: 10px;
	background-color: #4849e8;
	color: white;
	margin-left: 30px;
}
.channelBar h2 {
	width: 100px;
}
.channelButton {
	display: flex;
	height: 38px;
}

.allBar {
	display: flex;
	width: 950px;
	align-items: center;
	margin-left: 280px;
	margin-top: 50px;
}
.allBar >button {
	cursor: pointer;
}
.influencerWrap {
	display: flex;
	flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    margin-left: 270px;
    margin-bottom: 200px;
}
.influencer_pick {
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin: 2px;
	margin-bottom: 15px;
	margin-top: 15px;
	cursor: pointer;
}
#channelName {
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 5px;
}
#title {
	font-weight: bold;
	margin-bottom: 12px;
	margin-top: 5px;
}