body {
    height: 100vh;
}

span {
	color: red;
}

.signup_container {
	width: 580px;
	border-radius: 20px;
	box-shadow: 3px 5px 10px rgb(0, 0, 0, 0.25);
	padding: 66px;
	height: calc(100vh - 80px);
	overflow-y: scroll;
}

.signup_container::-webkit-scrollbar {
	width: 10px;
}

.signup_container::-webkit-scrollbar-thumb {
	background-color: #efefef;
	border-radius: 10px;
	background-clip: padding-box;
}

.signup_container::-webkit-scrollbar-track {
	background-color: #bbbaba;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

.title_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.signup_form {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
}

.signup_form input {
	margin-bottom: 8px;
}

.input_btn_wrap {
	display: flex;
	justify-content: space-between;
}

.input_label {
	font-weight: bold;
	font-size: 14px;
}

.input_label .br_style {
	line-height: 200%;
}

.input_btn_style {
	border-radius: 8px;
	background-color: #f6f7f8;
	outline: none;
	border: 1px solid #e5e5e5;
	padding: 22px 16px;
	width: 80%;
}

.input_btn_wrap button {
	color: #4849e8;
	border: 1px solid #4849e8;
	border-radius: 4px;
	background-color: white;
	padding: 0 20px;
	height: 60px;
	cursor: pointer;
	font-weight: bold;
}

.input_style {
	border-radius: 8px;
	background-color: #f6f7f8;
	outline: none;
	border: 1px solid #e5e5e5;
	padding: 22px 16px;
	width: 100%;
}

.input_btn_wrap .address_btn {
	color: white;
	border-radius: 4px;
	background-color: #4849e8;
	padding: 0 8px;
	height: 60px;
	cursor: pointer;
	font-weight: bold;
}

.signup_btn {
	color: white;
	font-weight: bold;
	border-radius: 8px;
	border: none;
	background: linear-gradient(to right, #DDF344, #4849E8);
	padding: 16px 0;
}

.terms_wrap {
	margin: 26px 0;
}

.terms {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.terms p{
	margin-left: 8px;
}

/* Custom checkmark */
input[type="checkbox"] {
    display: none;
    cursor: pointer;
}
input[type="checkbox"]+label {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../image/uncheck.png");
  cursor: pointer;
}
input[type="checkbox"]:checked+label {
  background-image: url("../image/check.png");
}

.terms img {
	margin-right: 8px;
}

.terms p {
	font-size: 14px;
}