.edit_container {
	display: flex;
	margin-top: 80px;
	width: 1200px;
	justify-content: space-between;
}
#sidebar {
    flex-basis:25%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.sideitem {
    background-color:white;
    width:100%;
    text-align:left;
    border-radius:20px;
    margin:10px auto;    
}
#profileimg {
    width: 100px;
    height: 100px;
    background-color:#4849e8;
    border-radius:50%; 
    margin:0 auto;
}
.profilebtn {
    display: inline-block;
    background-color:#e5e5e5;
    border-radius:10px;
    width:40px;
    height:auto;
    padding:4px 12px;
    margin:10px 10px;
}
.sideitem ul {
    list-style:none;
	margin:1em 0;
    padding-left: 20px;
}
.sideitem ul li {
    margin:10px 0;
}
.sideitem a {
    font-weight:bold;
    text-decoration:none;
	color:black;
}
.icons {
    align-items:center;
    vertical-align:middle;
    width: 30px;
    height:30px;
    margin-right:10px;
}

.main {
	width: 880px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 64px 0px;
	border-radius: 16px;
	padding: 60px 40px;
	margin-bottom: 60px;
}

span {
	color: red;
}

.edit_form {
	width: 580px;
	padding-top: 40px;
	padding-right: 40px;
	display: flex;
	flex-direction: column;
}

.edit_form input {
	margin-bottom: 8px;
}

.input_btn_wrap {
	display: flex;
	justify-content: space-between;
}

.input_label {
	font-weight: bold;
	font-size: 14px;
}

.input_label .br_style {
	line-height: 200%;
}

.input_btn_style {
	border-radius: 8px;
	background-color: #f6f7f8;
	outline: none;
	border: 1px solid #e5e5e5;
	padding: 22px 16px;
	width: 80%;
}

.input_btn_wrap button {
	color: #4849e8;
	border: 1px solid #4849e8;
	border-radius: 4px;
	background-color: white;
	padding: 0 20px;
	height: 60px;
	cursor: pointer;
	font-weight: bold;
}

.input_style {
	border-radius: 8px;
	background-color: #f6f7f8;
	outline: none;
	border: 1px solid #e5e5e5;
	padding: 22px 16px;
	width: 100%;
}

.input_btn_wrap .address_btn {
	color: white;
	border-radius: 4px;
	background-color: #4849e8;
	padding: 0 8px;
	height: 60px;
	cursor: pointer;
	font-weight: bold;
}

.edit_btn {
	color: white;
	font-weight: bold;
	border-radius: 8px;
	border: none;
	background-color: #4849E8;
	padding: 16px 0;
	margin-top: 20px;
	cursor: pointer;
}